<?xml version='1.0' encoding='utf-8'?>
<plugin id="cordova-plugin-x-zijinutil"
	version="1.0.0"
	xmlns="http://apache.org/cordova/ns/plugins/1.0"
	xmlns:android="http://schemas.android.com/apk/res/android">
	<name>ZijinUtil</name>
	<js-module src="www/ZijinUtil.js" name="ZijinUtil">
		<clobbers target="cordova.plugins.ZijinUtil" />
	</js-module>
	<platform name="android">
		<source-file src="src/android/libs/classes.jar" target-dir="libs" />
		<source-file src="src/android/libs/DeviceAPIver20150906.jar" target-dir="libs" />
		<source-file src="src/android/libs/hitownsdk.jar" target-dir="libs" />
		<source-file src="src/android/libs/ModuleAPI_Android_2.31.0.0.jar" target-dir="libs" />
		<source-file src="src/android/libs/trinea-android-common.jar" target-dir="libs" />

		<source-file src="src/android/libs/armeabi/libModuleAPI_Android.so" target-dir="src/main/jniLibs/armeabi"/>
		<source-file src="src/android/libs/armeabi/libscan_jni.so" target-dir="src/main/jniLibs/armeabi"/>
		<source-file src="src/android/libs/armeabi-v7a/libModuleAPI_Android.so" target-dir="src/main/jniLibs/armeabi-v7a"/>
		<source-file src="src/android/libs/armeabi-v7a/libscan_jni.so" target-dir="src/main/jniLibs/armeabi-v7a"/>

		<source-file src="src/android/nl/xservices/plugins/base/ICordovaPlugin.java" target-dir="src/nl/xservices/plugins/base" />
		<source-file src="src/android/nl/xservices/plugins/plugin/UHFPlugin.java" target-dir="src/nl/xservices/plugins/plugin" />
		<source-file src="src/android/nl/xservices/plugins/plugin/ScanPlugin.java" target-dir="src/nl/xservices/plugins/plugin" />
		<source-file src="src/android/nl/xservices/plugins/MyApp.java" target-dir="src/nl/xservices/plugins" />
		<source-file src="src/android/nl/xservices/plugins/utils/DevBeep.java" target-dir="src/nl/xservices/plugins/utils" />
        <source-file src="src/android/nl/xservices/plugins/ZijinUtil.java" target-dir="src/nl/xservices/plugins" />

		<resource-file src="src/android/raw/beep_err.wav" target="res/raw/beep_err.wav" />
		<resource-file src="src/android/raw/beep_ok.wav" target="res/raw/beep_ok.wav" />

		<config-file parent="/*" target="res/xml/config.xml">
			<feature name="ZijinUtil"><param name="android-package" value="nl.xservices.plugins.ZijinUtil" /></feature>
		</config-file>

		<framework src="src/android/build.gradle" custom="true" type="gradleReference" />
	</platform>
</plugin>
